.search {
  margin: 20px 0;
}

.search__input {
  width: 100%;
  max-width: 500px;
  height: 48px;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid var(--grayscale-600);
  outline: none;
  transition: border 0.3s ease-in-out;
  color: var(--grayscale-900);
  appearance: none;
}

.search__input:hover,
.search__input:focus {
  border-color: var(--grayscale-900);
}
